//Colores
$rosa: #ea6f66;
$blanco: #ffffff;
$crema:#f9e79f;
$ocre:#641e16;
$celeste:#2471A3;
$azul: #001f90;
$gris-claro: #eaeff9;
$negro: #1b1c1d;
$gris:#e9eef8;
$piel-claro:#EDBB99;
$ocre-oscuro:#CD5C5C;
$ocre-claro: #F08080;
$ocre-liviano:#F6DDCC;
$naranja:#F5B041;
$naranja-oscuro:#F1C40F;
$naranja-claro:#F9F99F;
$naranja-2:#F9E79F;
//Tipografías
$bold: 700;
$regular: 400;
$light: 300;
